#routes {
	display: flex;
	gap: 10px;
}


@media(max-width:  420px) {
	#routes {
		display: grid;
	}

	a {
		font-size: 15px;
	}

	.entry_title {
		font-size: 34px;
	}

	.info_title {
		font-size: 21px;
	}

	.social {
		font-size: 16px;
	}

	h3 {
		font-size: 21px;
	}

	span {
		font-size: 14px;
	}

	h4 {
		font-size: 16px;
	}
}